.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .detailH1 {
    flex-grow: 1;
  }
  
  .down {
    margin-top: 60px;
  }
  
  .detail-item {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  @media screen and (max-width: 766px) {
    .detailH1 {
      font-size: 30px;
    }
  
    .linkToDiary {
      width: 90px;
    }
  }