body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Arial', sans-serif;
  }
  
  /* 페이지 컨테이너 스타일 */
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 화면 전체 높이 */
    width: 100vw; /* 화면 전체 너비 */
    background: #FFFBE6;
  }
  
  .title {
    font-size: 2em;
    color: green;
    margin-bottom: 20px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  .input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 1em;
  }
  
  .input:focus {
    outline: none;
    box-shadow: 0 2px 5px #5f846e;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 100%;
    max-width: 400px; 
  }
  
  .login-button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 25px;
    background-color: #bff1cbf0;
    color: rgb(0, 0, 0);
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; 
  }
  
  .login-button.enabled {
    background-color: #86bb9c;
  }
  
  .signup-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1em;
    transition: color 0.5s ease;
  }
  
  .signup-link:hover {
    color: green;
  }
  
  .out{
    display: flex;
    justify-content: flex-end;
  }
  
  .Change-button{
    width: 105%;
    padding: 15px;
    border: none;
    border-radius: 25px;
    background-color: #bff1cbf0;
    color: rgb(0, 0, 0);
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; 
    text-align: center; 
  }