.sec-box {
    width: 700px;
    height: 500px;
    margin: auto;
    font-size: 15px;
    margin-top: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
  }
  .sec-main {
    font-size: 30px;
    text-align: center;
  }
  /* 이미지를 원형으로 만들어줌*/
  .sec-img {
    width: 150px;
    height: 150px;
    border-radius: 70%;
    overflow: hidden;
    display: block;
    margin: auto;
  }
  .sec-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  table {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
    margin-top: 30px;
  }
  th,
  td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
  }
  /* 테이블 왼쪽부분 배경색과 글자색 지정*/
  tbody th {
    color: white;
    background-color: forestgreen;
    font: bold;
  }
  th {
    margin-right: 20px;
  }
  h2 {
    font-size: 20px;
    text-align: center;
  }
  /*수정 버튼*/
  .sec-wrap {
    display: inline-block;
    width: 70px;
    height: 20px;
    margin-left: 300px;
    padding: 10px;
    border: 3px solid #000;
    border-radius: 2px;
    color: #000;
    background-color: #fffaf0;
  }